doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
h3 Registered Babies
.container
  table.table.table-dark
    thead
      th ID
      th NAME
      th AGE
      th Gender
      th Location
      th Parent&apos;s contact
    tbody
      tr.table-active
        th
        td
        td
        td
        td
        td
      tr
        th
        td
        td
        td
        td
        td
      tr
        th
        td
        td
        td
        td
        td
      tr
        th
        td
        td
        td
        td
        td
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
