doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
h3 Registered Babies
.container
  table.table.table-dark
    thead
      th ID
      th NAME
      th AGE
      th Gender
      th Location
      th Parent&apos;s contact
      th Action
    tbody
      tr.table-active
        td #
        td #
        td #
        td #
        td #
        td #
        td 
           a.btn.btn-primary.btn-block(href="/babiesUdate/"+ baby._id)update
        td
  
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
