<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2 id="lead">Login</h2>
    <form>
        <div class="form-group">
            <label for="loginType">Login as:</label>
            <select class="form-control" id="loginType">
                <option value="admin">Admin</option>
                <option value="stuff">Stuff</option>
            </select>
        </div>
        <div class="form-group">
            <label for="userId">User ID:</label>
            <input type="text" class="form-control" id="userId">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
            <input type="checkbox" onclick="togglePassword()"> Show Password
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>