<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Validation Form</title>
  <!-- <link rel="stylesheet" href="style.css" /> -->
</head>
<body>
  <div class="container">
    <form id="form" action="/signup" method="POST">
      <h1>Register</h1>

      <!-- Username -->
      <div class="input-control">
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" /><br />
        <div class="error"></div>
      </div>

      <!-- Email -->
      <div class="input-control">
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" /><br />
        <div class="error"></div>
      </div>


      <!-- Submit button -->
      <button type="submit">Sign up</button>
    </form>
  </div>

  <!-- <script src="form.js"></script> -->
</body>
</html>
